@forward "responsive";
@use "responsive" as *;

/* -------------------------------- Elements -------------------------------- */

// Spans the page width without margin. Used for full-width effects e.g.
// background & border. No content should live at this level.
// This blob of style only includes stuff that applies to the whole slice,
// regardless of its content.

/* -------------------------------- NEW STUFF ------------------------------- */
/* --------------------------------- Layouts -------------------------------- */
// Don't nest these in the declaration above! When you do that, you run in to
// specificity problems trying to use .padding-t-10px and so on. There's no
// reason for them to be nested. They work just fine.

/* ---------------------- Moved out of Component:global --------------------- */
// And I can't tell you why they all need the :global. I think it's a bug.
:global(#SystemBreadcrumb),
:global(#AreaBreadcrumb),
:global(#CategoryBreadcrumb),
:global(#IdBreadcrumb) {
  h3 {
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
  }
}

:global(#Header) {
  h1 {
    margin: 0;
    padding-top: 20px;
    @include phone-only {
      // A word has to be pretty long to need breaking mid-word
      // But this is what does it
      // hyphens: auto;
      // overflow-wrap: break-word;
    }
  }
  .phone-only {
    display: none;
    @include phone-only {
      display: block;
      .layout-left-item {
        justify-self: start; // Affects mobile Chromium
      }
    }
  }
  .tablet-portrait-up {
    display: none;
    @include tablet-portrait-up {
      display: grid;
    }
  }
}

:global(#ChildrenInParentLabel) {
  // Border here vs. above, as we don't know if SystemDescription will exist
  border-top: 1px solid var(--border-strong);
  h2 {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  // On mobile, override the grid
  @include phone-only {
    border-bottom: 1px solid rgb(130, 94, 94);
    h2.layout-right-item {
      padding: 10px 0;
    }
    .layout-grid-left-right {
      display: block;
    }
    .layout-right-item {
      border: none;
      padding-left: 0;
    }
  }
}

:global(#ChildrenInParentList) {
  border-bottom: 1px solid var(--border-strong);
  h2 {
    font-size: 1rem;
    margin: 0;
  }
  ol.acid-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    h3 {
      font-size: 1rem;
      margin: 0;
    }
  }
  .header-item:not(:first-of-type) {
    border-top: 1px solid light-dark(#ccc, #333);
    .layout-left-item {
      padding-top: 1rem;
    }
    .layout-right-item {
      padding-top: 1rem;
    }
  }
  .header-item {
    a.blackSquare {
      text-decoration: none;
    }
  }
  // Bring the list away from the light grey border a touch
  @include phone-only {
    ol {
      li {
        .layout-left-item,
        .layout-right-item {
          padding-top: 10px;
        }
      }
    }
  }
}
