// == global ==================================================================
@use "@styles/responsive" as r;

// #region fonts --------------------------------------------------------------
@font-face {
  font-family: "Berkeley Mono";
  src:
    local("Berkeley Mono Regular"),
    local("BerkeleyMonoRegular"),
    url("/fonts/BerkeleyMono/BerkeleyMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Berkeley Mono";
  src:
    local("Berkeley Mono Bold"),
    local("BerkeleyMonoBold"),
    url("/fonts/BerkeleyMono/BerkeleyMono-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Berkeley Mono";
  src:
    local("Berkeley Mono Italic"),
    local("BerkeleyMonoItalic"),
    url("/fonts/BerkeleyMono/BerkeleyMono-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: fallback;
}
@font-face {
  font-family: "Berkeley Mono";
  src:
    local("Berkeley Mono Bold Italic"),
    local("BerkeleyMonoBoldItalic"),
    url("/fonts/BerkeleyMono/BerkeleyMono-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: fallback;
}
// #endregion

// #region variables ----------------------------------------------------------
:root {
  --content-max-width: 700px;
  --content-padding: 1rem;

  // Meh are these useful?
  --tiny: 5px;
  --small: 8px;
  --medium: 12px;
  --large: 16px;
  --xlarge: 20px;
  // Is this better
  --component-padding: 20px;

  --border-strong: light-dark(#111, #eee);
  --border-accent: light-dark(#11b, #99c);
  --secondary-content-bg: light-dark(#f3f3f3, #111);
  --tint: light-dark(#f0f0ff, #448);

  --monospace: "Berkeley Mono", ui-monospace, "Cascadia Code", "Source Code Pro",
    Menlo, Consolas, "DejaVu Sans Mono", monospace;
}
// #endregion

// #region html elements, alphabetically --------------------------------------

html {
  color-scheme: light dark;
  font-family: var(--monospace);
  line-height: 1.5;
}

// Any customisations made to the main text need to be contained. Because you
// use these elements (like <ol>) for all sorts of other stuff.
.main-text {
  blockquote {
    border-top: 1px dashed var(--border-accent);
    border-bottom: 1px dashed var(--border-accent);
    font-size: 0.8rem;
    margin: 0 0 1rem 0;

    li + li {
      margin-top: 5px;
    }
  }

  code {
    background-color: var(--tint);
    border: 1px dotted var(--border-strong);
    border-bottom: 2px solid var(--border-strong);
    font-family: var(--monospace);
    padding-inline: 1ch;
  }

  h3 {
    font-size: 1rem;
    font-weight: bold;
    margin: 0; // Surrounding <p> handles it
    text-align: right;
    @include r.phone-only {
      font-size: 1.1rem; // Pop the headers a bit
      margin-top: 0.5rem; // Room to breathe
      text-decoration: underline;
    }
    @include r.tablet-portrait-up {
      margin: 0 0 1rem 0; // Spaces out multi-line headers
    }
  }
  h4 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    text-decoration: underline;
    text-decoration-color: var(--border-strong);
    text-decoration-thickness: 2px;
    + p {
      margin-top: 0.5rem;
    }
  }

  ol,
  ul {
    list-style: none;
    counter-reset: list;
    padding-left: 0;
    li {
      counter-increment: list;
      position: relative;
      padding-left: 3ch; /* 1ch for digit + 1ch for period + 1ch for space */
    }
  }
  ol li::before {
    content: counter(list) ".";
    position: absolute;
    left: 0;
    width: 2ch; /* Digit + period */
  }
  ul li::before {
    content: "–";
    position: absolute;
    left: 0;
    width: 1ch; /* Aligns with ol number */
  }
  ol.no-style {
    list-style: none;
    li {
      padding-left: 0;
    }
    li::before {
      content: none;
    }
  }
  li + li {
    margin-top: 0.25rem;
  }
  // Nested lists
  ul > li > ul {
    margin: 1rem 0;
  }

  select {
    font-family: var(--monospace);
  }
}

.layout-grid-left-right {
  display: grid;
  grid-template-columns: 110px auto;
  .layout-left-item {
    justify-self: end;
    padding: var(--tiny) var(--small) var(--tiny) 0;
  }
  .layout-right-item {
    border-left: 1.5px solid light-dark(#ccc, #333);
    padding: var(--tiny) 0 var(--tiny) var(--small);
    &.border-none {
      border-left: none;
    }

    h2,
    h3 {
      font-size: 1rem;
    }
  }

  // In desktop's layout, remove the first-child margin so that the first
  // child lines up with its label, to the left.
  @include r.tablet-portrait-up {
    .layout-right-item {
      h4:first-child,
      p:first-child,
      ol:first-child,
      ul:first-child {
        margin-top: 0;
      }
      // ...except if the damned thing is in a blockquote
      blockquote > *:first-child {
        margin-top: 1em;
      }
      // ...or if we have nested lists
      ul > li > ul:first-child {
        margin: 0.25rem 0;
      }
    }
  }
  // But reset these margins if we're in a blockquote
  // TODO probably a nicer way to do this oh yeah you had to !important
  :global(blockquote > p) {
    margin-top: 1em !important;
  }
}
.main-text .layout-grid-left-right {
  // NOTE this is order-in-file specific
  // On mobile, flick to a single-column layout
  // ...but only if we're in .main-text, otherwise this affects breadcrumbs
  @include r.phone-only {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    // Undo the stuff we set for larger screens
    .layout-left-item {
      justify-self: start;
    }
    .layout-right-item {
      border: none;
      padding: unset;
    }
  }
}
.breadcrumb .layout-grid-left-right,
#ChildrenInParentList .layout-grid-left-right,
#AccountManagement .layout-grid-left-right,
footer .layout-grid-left-right {
  @include r.phone-only {
    grid-template-columns: 60px auto;
  }
}

#ChildrenInParentList .layout-grid-left-right .layout-right-item p:first-child {
  // NOTE order-in-file specific
  // Put a bit of room between the link to the ID and its description
  margin-top: 0.5rem;
}

// #endregion

// actually-global stylings
.text-error {
  color: light-dark(darkred, lightcoral);
}

// janky one-offs that you should fix
// FIXME this works but body-undefined isn't a great classname for prod
#body-undefined .welcome-border,
#body-index_html .welcome-border {
  border: 2px solid var(--border-strong);
  padding: 1ch;
  margin-bottom: 2rem;
}

// The 'note that this site is under construction' block in each ChildinParent
#HiddenNotice .layout-right-item > blockquote:first-child {
  margin: 1rem 0;
}

// Bring the community links off the border
#ForumDiscord {
  .layout-left-item,
  .layout-right-item {
    padding-top: 1rem;
  }
}

#body-00_22 #FinderImage img {
  border: 2px solid var(--border-strong);
}
