---
import { createClerkClient } from "@clerk/astro/server";

import Slice from "@components/common/Slice.astro";

const { userId } = Astro.locals.auth();
const clerkClient = createClerkClient({
  secretKey: import.meta.env.CLERK_SECRET_KEY,
});
const user = await clerkClient.users.getUser(userId!);
const publicMetadata = user.publicMetadata;
---

<Slice>
  <div class="layout-grid-left-right">
    <div></div>
    <div class="layout-right-item">{JSON.stringify(publicMetadata)}</div>
  </div>
</Slice>

<style lang="scss">
  @use "@styles/common" as *;
</style>
