---
const quadrantChart = `
quadrantChart
    title Classes of small business
    x-axis You produce a thing --> You deliver a service
    y-axis Intangible thing --> Tangible thing
    quadrant-1 Deliver tangible service
    quadrant-2 Produce tangible thing
    quadrant-3 Produce intangible thing
    quadrant-4 Deliver intangible service
    "Cosmetics manufacturer": [0.1, 0.9]
    "Software developer" : [0.1, 0.1]
    "Gardener": [0.9, 0.9]
    "Accountant": [0.9, 0.1]
`;
---

<div class="mermaid">
  {quadrantChart}
</div>
