---
import { marked } from "marked";
import Slice from "@components/common/Slice.astro";

import entry from "@data/sb_ts/02.11-user-stories";
if (!entry.extensions?.smallBusiness?.freeform) {
  throw new Error("No freeform content found for 02.11-user-stories");
}

const overview = entry.extensions.smallBusiness.freeform[0].content;
console.log("🚀 ~ AdHoc-02_11-user_stories.astro:11 ~ overview:", overview);
const quadrant = entry.extensions.smallBusiness.freeform[1].content;

const storyLinks = `
1. [Jeff runs Lovett Sundries. They manufacture their own range of body-care products, and sell them in-store and online.](/00.12+FR1)
2. [Gary is a gardener. His service is really simple: he'll come and mow your lawn.](/00.12+FR2)
3. [My account is ... my accountant! We all know what they do.](/00.12+FR3)
4. [Xe is a software developer. They require a very detailed brief, then they do the work, and deliver a finished product with no ongoing support.](/00.12+FR4)
`;

/** Render this in the playground, easier for screenshots/light/dark etc.
const _chart = `
%%{init: {"quadrantChart": {"chartWidth": 450, "chartHeight": 450, "quadrantLabelFontSize": 12, "xAxisLabelFontSize": 12, "yAxisLabelFontSize": 12}, "themeVariables": { "quadrantPointFill": "#37470A", "quadrantPointTextFill": "#37470A", "quadrant1TextFill": "midnightblue", "quadrant2TextFill": "midnightblue", "quadrant3TextFill": "midnightblue", "quadrant4TextFill": "midnightblue", "quadrantXAxisTextFill": "#00a", "quadrantYAxisTextFill": "#00a" } }}%%
quadrantChart
    x-axis You produce a thing --> You deliver a service
    y-axis Intangible thing --> Tangible thing
    quadrant-1 Delivers a tangible service
    quadrant-2 Produces a tangible thing
    quadrant-3 Produces a intangible thing
    quadrant-4 Delivers a intangible service
    "Cosmetics manufacturer": [0.1, 0.9]
    "Software developer" : [0.1, 0.1]
    "Gardener": [0.9, 0.9]
    "Accountant": [0.9, 0.1]
    "Johnny.Decimal": [0.4, 0.2]
    "Wedding celebrant": [0.75, 0.75]
    "Custom furniture maker": [0.4, 0.8]`;
*/

const overviewHtml = await marked.parse(overview);
const quadrantHtml = await marked.parse(quadrant);
const storyLinksHtml = await marked.parse(storyLinks);
---

<Slice className="main-text">
  <div class="layout-grid-left-right">
    <div class="layout-left-item">
      <h3>Overview</h3>
    </div>
    <div class="layout-right-item" set:html={overviewHtml} />
  </div>
</Slice>

<Slice className="main-text">
  <div class="layout-grid-left-right">
    <div class="layout-left-item">
      <h3>Quadrant chart</h3>
    </div>
    <div class="layout-right-item" set:html={quadrantHtml} />
  </div>
</Slice>

<Slice id="quadrant-chart">
  <picture>
    <source
      media="(prefers-color-scheme: light)"
      srcset="/img/00.12A-Quadrant-light-1296x1294.png"
    />
    <source
      media="(prefers-color-scheme: dark)"
      srcset="/img/00.12A-Quadrant-dark-1296x1294.png"
    />
    <img
      alt="A quadrant chart showing the four quadrants of a business."
      id="quadrant-img"
      src="/img/00.12A-Quadrant-light-1296x1294.png"
      width="648"
      height="647"
    />
  </picture>
</Slice>

<Slice className="main-text">
  <div class="layout-grid-left-right">
    <div class="layout-left-item padding-top">
      <h3>Stories</h3>
    </div>
    <div class="layout-right-item padding-top" set:html={storyLinksHtml} />
  </div>
</Slice>

<style lang="scss">
  @use "@styles/common" as *;

  :global(#quadrant-chart) {
    border-top: 1.5px solid light-dark(#ccc, #333);
    border-bottom: 1.5px solid light-dark(#ccc, #333);
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  :global(img#quadrant-img) {
    // border: 1px solid var(--border-accent);
    height: auto;
    max-width: 95%;
    object-fit: cover;
  }

  .padding-top {
    padding-top: 1rem;
  }
</style>
