---
import Slice from "@components/common/Slice.astro";
import { marked } from "marked";

import id_00_22 from "@data/sb_ts/00.22-about-numbers";
if (!id_00_22.extensions?.smallBusiness?.freeform) {
  throw new Error("No freeform content found for 00.22-about-numbers");
}

const numbers = id_00_22.extensions.smallBusiness.freeform[0].content;
const outloud = id_00_22.extensions.smallBusiness.freeform[1].content;
const noMaths = id_00_22.extensions.smallBusiness.freeform[2].content;
const next = id_00_22.extensions.smallBusiness.freeform[3].content;

const numbersHtml = await marked.parse(numbers);
const outloudHtml = await marked.parse(outloud);
const noMathsHtml = await marked.parse(noMaths);
const nextHtml = await marked.parse(next);
---

<Slice className="main-text">
  <div class="layout-grid-left-right">
    <h3 class="layout-left-item">A simple hierarchy</h3>
    <div class="layout-right-item" set:html={numbersHtml} />
  </div>
</Slice>

<Slice className="main-text">
  <div class="layout-grid-left-right">
    <h3 class="layout-left-item">Read them aloud</h3>
    <div class="layout-right-item" set:html={outloudHtml} />
  </div>
</Slice>

<Slice className="main-text">
  <div class="layout-grid-left-right">
    <h3 class="layout-left-item">No maths</h3>
    <div class="layout-right-item" set:html={noMathsHtml} />
  </div>
</Slice>

<Slice className="main-text">
  <div class="layout-grid-left-right">
    <h3 class="layout-left-item">Next</h3>
    <div class="layout-right-item" set:html={nextHtml} />
  </div>
</Slice>

<style lang="scss">
  @use "@styles/common" as *;

  :global(img#finder) {
    border: 1px solid var(--border-accent);
    height: auto;
    max-width: 95%;
    object-fit: cover;
  }
</style>
