---
import { createClerkClient } from "@clerk/backend";
import Slice from "@components/common/Slice.astro";

const clerkClient = createClerkClient({
  secretKey: import.meta.env.CLERK_SECRET_KEY,
});

const { userId } = Astro.locals.auth();
const user = await clerkClient.users.getUser(userId!);
const publicMetadata = user.publicMetadata;

// const updateUserMetadata = await clerkClient.users.updateUserMetadata(userId, {
//   publicMetadata: {
//     firstRunComplete: true,
//   },
// });
---

<Slice>
  <div class="layout-grid-left-right">
    <div></div>
    <div class="layout-right-item">{JSON.stringify(publicMetadata)}</div>
  </div>
</Slice>

<style lang="scss">
  @use "@styles/common" as *;
</style>
