---
/**
 * A list of all the pages.
 */

const { userId } = Astro.locals.auth();
const loggedIn = !!userId;
import system from "@data/smallBusinessFlat";
console.log("🚀 ~ system:", system);
import Slice from "@components/common/Slice.astro";

const allEntries = Object.entries(system)
  .filter(([, entry]) => entry.type === "id")
  .filter(([, entry]) => loggedIn || entry.isPublic)
  .map(([number, entry]) => ({
    number,
    title: entry.title,
    type: entry.type,
  }))
  .sort((a, b) => a.number.localeCompare(b.number));
console.log("🚀 ~ allEntries:", allEntries);

const xallEntries = Object.entries(system)
  .filter(([, entry]) => entry.type === "id")
  .filter(([, entry]) => loggedIn || entry.isPublic);
console.log("🚀 ~ xallEntries:", xallEntries);
---

<Slice id="SystemIndexHeader" className="descriptive-text">
  <div class="layout-grid-left-right">
    <div class="layout-left-item"></div>
    <div class="layout-right-item">
      <p>As you are not logged in, this list only shows the unlocked IDs.</p>
      <blockquote>
        <p>
          To do: improve the list so it shows the parent category and area of
          each ID.
        </p>
      </blockquote>
    </div>
  </div>
</Slice>

<Slice id="SystemIndex" className="descriptive-text">
  <div class="layout-grid-left-right">
    <div class="layout-left-item">
      <h3>Public pages</h3>
    </div>
    <div class="layout-right-item">
      <ol>
        {
          allEntries.map((entry) => (
            <li>
              <a href={`/${entry.number}`}>
                {entry.number} {entry.title}
              </a>
            </li>
          ))
        }
      </ol>
    </div>
  </div>
</Slice>

<style lang="scss">
  @use "@styles/common" as *;

  ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }
</style>
