---
import sb from "@content/data/smallBusinessFlat";
import type { EntryType } from "@content/data/smallBusinessFlat";

import Category from "@components/Category.astro";
import ID from "@components/ID.astro";
import Layout from "@layouts/Layout.astro";

const { slug } = Astro.params;

/**
 * This page handles the display of all areas, categories, and IDs. So first
 * we need to figure out which of those things we want. Then we fetch it,
 * then we display it. This is all done with components.
 *
 * If it doesn't exist, show our 04.04.
 *
 * We also need to handle the default case where the user visits /jdex.
 */

let entryType: EntryType | "no-match" | null = null;

if (slug?.match(/^[0-9]0-[0-9]9$/)) {
  entryType = "area";
} else if (slug?.match(/^\d\d$/)) {
  // We've pattern-matched, but does it exist? Gracefully fail if not
  if (!!sb[slug]) {
    entryType = "category";
  } else {
    entryType = "no-match";
  }
} else if (slug?.match(/^\d\d\.\d\d$/)) {
  // We've pattern-matched, but does it exist? Gracefully fail if not
  if (!!sb[slug]) {
    entryType = "id";
  } else {
    entryType = "no-match";
  }
} else {
  entryType = "no-match";
  // None of the above
}
---

<Layout>
  {entryType === "area" ? <div>area</div> : null}
  {entryType === "category" ? <Category category={slug!} /> : null}
  {entryType === "id" ? <ID id={slug!} /> : null}
  {
    entryType === "no-match" ? (
      <div>Graceful fallback; show the system?</div>
    ) : null
  }</Layout
>
