---
// let message = "";
// async function callApi(event) {
//   event.preventDefault();

//   const res = await fetch ("/api/updatePublicMetadata", {
//     method: "GET",
//     headers: {"Content-Type": "application/json"},
//     body: JSON.stringify("hi there")
//   })

//   const result = await res.json();
//   message = result.success ? "Call succeeded!" : "Call failed :-("
// }
const API_BASE_URL =
  import.meta.env.PUBLIC_API_BASE_URL ||
  import.meta.env.DEPLOY_URL ||
  import.meta.env.URL ||
  "";

let message;
if (Astro.request.method === "POST") {
  console.log("📮 callApi/POST loop has been called");
  try {
    // const data = await Astro.request.formData();
    const res = await fetch(`${API_BASE_URL}/devapi/updatePublicMetadata/`, {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({ hi: "there" }),
    });
    const result = await res.json();
    console.log("result:", result);
    message = result.message;
  } catch (e) {
    console.log("some error:", e);
  }
}
---

<form method="POST">
  <label>
    Username:
    <input type="text" name="username" />
  </label>
  <button>Submit</button>
</form>

<div>message: {message}</div>
