---
import { createClerkClient } from "@clerk/astro/server";

const { userId } = Astro.locals.auth();
const clerkClient = createClerkClient({
  secretKey: import.meta.env.CLERK_SECRET_KEY,
});
const user = await clerkClient.users.getUser(userId!);
const firstRunComplete = user.publicMetadata.firstRunComplete as boolean;
---

<label>
  <input
    type="checkbox"
    id="firstRunCompleteCheckbox"
    checked={firstRunComplete}
  />
  First Run Complete
</label>
<div id="saved"></div>

<script>
  import { actions } from "astro:actions";
  document.addEventListener("DOMContentLoaded", () => {
    const checkbox = document.getElementById("firstRunCompleteCheckbox");
    const saved = document.getElementById("saved");

    checkbox!.addEventListener("change", async () => {
      console.log("Checkbox state changed");
      const { data, error } = await actions.flipFirstRun({});
      if (!error) {
        (checkbox as HTMLInputElement)!.checked = data as boolean;
        saved!.innerText = "Saved!";
        setTimeout(() => {
          saved!.innerText = "";
        }, 2000);
      } else {
        saved!.innerText = error.message;
      }
    });
  });
</script>
