---
import { SignOutButton } from "@clerk/astro/components";

import Slice from "./common/Slice.astro";
---

<Slice className="border-t-1px padding-t-15px" id="AccountManagement">
  <p>
    ↗ <a href="https://accounts.johnnydecimal.com/user">Account management</a>.
  </p>
  <p>
    <SignOutButton asChild>
      × <button>Sign out</button>.
    </SignOutButton>
  </p>
</Slice>

<style lang="scss">
  @use "/src/styles/common";

  button {
    background: none;
    border: none;
    cursor: pointer;
    color: LinkText;
    font: inherit; // Inherit font styles from parent
    text-decoration: underline;
    padding: 0;
  }
  button:hover {
    color: VisitedText;
  }
</style>
