---
import { UserProfile } from "@clerk/astro/components";
import Slice from "./common/Slice.astro";
---

<Slice>
  <p>
    Go to <a href="https://accounts.johnnydecimal.com/user"
      >your account management</a
    >.
  </p>
</Slice>
