---
import { SignOutButton } from "@clerk/astro/components";

import Slice from "./common/Slice.astro";

const { slug } = Astro.params;
const { userId } = Astro.locals.auth();
---

<Slice id="AccountManagement">
  <div class="layout-grid-left-right">
    <div class="layout-left-item">?</div>
    <div class="layout-right-item border-none">
      {
        userId ? (
          <a
            href={`https://airtable.com/appep0KBedENs1fkW/pagnQjbOW4JoXNNax/form?prefill_JD+SBS+ID=${slug}`}
          >
            Provide feedback
          </a>
        ) : (
          <a
            href="#"
            onclick="alert(`When you're signed in, this link allows you to send immediate feedback on the ID you're viewing.`)"
          >
            Provide feedback
          </a>
        )
      }
    </div>
  </div>
  <div class="layout-grid-left-right">
    <div class="layout-left-item">↗</div>
    <div class="layout-right-item border-none">
      {
        import.meta.env.DEV ? (
          <a href="https://lenient-hound-82.accounts.dev/user">
            Account management
          </a>
        ) : (
          <span>Account management</span>
        )
      }
    </div>
  </div>

  {
    userId ? (
      <div class="layout-grid-left-right">
        <div class="layout-left-item">×</div>
        <div class="layout-right-item border-none">
          <SignOutButton asChild>
            <button>Sign out</button>
          </SignOutButton>
        </div>
      </div>
    ) : null
  }
</Slice>

<style lang="scss">
  @use "@styles/common" as *;

  :global(#AccountManagement) {
    padding: var(--component-padding) 0;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
    color: LinkText;
    font: inherit; // Inherit font styles from parent
    text-decoration: underline;
    padding: 0;
  }
  button:hover {
    color: VisitedText;
  }
</style>
