---
/**
 * The category list view component. So we've navigated to
 * /jdex/11.
 *
 * Shows the category and all of its IDs, grouped by header.
 *
 * ```
 * 🕚 11 Eleven                                          [emoji, big?]
 *      The description of category eleven.
 *
 * ## 11.10 Official documents 🗂 ️
 *          Description
 *    11.11 Structure & registrations
 *          Description
 *    11.12 ...
 *
 * ## 11.20 Planning, contingencies, & insurance 🧭
 *          Description
 *    11.21 ...
 * ```
 *
 * So we need:
 * - To be passed the number of the category to render. This is the slug.
 * - To check that the category exists, and 404 if not.
 * - The whole system to reference. Just import it directly.
 * - The title of the category for the main header.
 * - The description and emoji of the category.
 * - An array of the IDs that this category contains. Each one of those
 *   needs to contain the ID, title, description, isHeader, emoji.
 */

// - To be passed the number of the category to render. This is the slug.
interface Props {
  category: string;
}
const { category } = Astro.props;

// - To check that the category exists, and 404 if not.
const cExists = !!sb[category];
if (!cExists) {
  throw new Response(null, { status: 404 });
}

// - The whole system to reference. Just import it directly.
import sb from "@content/data/smallBusinessFlat";

// - The title of the category for the main header.
const cTitle = sb[category]?.title;

// - The description and emoji of the category.
const cDescription = sb[category].description;
const cEmoji = sb[category].emoji;
---

<>
  {
    cExists ? (
      <div class="category-id-title">
        <h1 aria-label="Category ID and title">
          {category}&nbsp;{cTitle}
        </h1>
      </div>
    ) : (
      <div>404</div>
    )
  }
</>

<style></style>
