---
/**
 * LayoutFullWidth
 *
 * If we want something that spans the full width of the page, like a header
 * with a border, this is the component.
 *
 * It keeps the content centred. Oh wait ... can it even do that? Hmm yeah I
 * guess but then we'd need to be passing as props all the other styles. Like,
 * what colour do you want that background?
 *
 * Is it worth it? Or should you just design each component to do its own
 * thing, and use variables for things like width?
 */
---

<div class="layout-full-width">
  <slot />
</div>

<style lang="scss">
  .layout-full-width {
    width: 100px;
  }
</style>
