---
import Slice from "./Slice.astro";

const today = new Date();
---

<footer>
  <Slice>
    <p>
      System status: normal<br />
      v1.0 2024-01-30
    </p>
    &copy; {today.getFullYear()} Johnny.Decimal
  </Slice>
</footer>

<style lang="scss">
  @use "/src/styles/common";

  footer {
    font-size: 0.8rem;
    padding: var(--component-padding) 0;
    padding-bottom: calc(var(--component-padding) + 10px);
  }
</style>
