---
interface Props {
  entry: FlattenedEntry;
}

import type { FlattenedEntry } from "@data/smallBusinessFlat";
const { slug } = Astro.params;
const { entry } = Astro.props;
import Slice from "@components/common/Slice.astro";

const forumLinks: Record<string, string> = {
  "11": "https://forum.johnnydecimal.com/c/small-business/11-the-business-its-people/19",
  "12": "https://forum.johnnydecimal.com/c/small-business/12-where-i-trade-how-i-get-around/20",
  "13": "https://forum.johnnydecimal.com/c/small-business/13-money/21",
  "14": "https://forum.johnnydecimal.com/c/small-business/14-technology/23",
  "15": "https://forum.johnnydecimal.com/c/small-business/15-travel-events-social/24",
};
const discordLinks: Record<string, string> = {
  "11": "https://discord.com/channels/822215537589354566/1337958692317827102",
  "12": "https://discord.com/channels/822215537589354566/1344416111856189581",
  "13": "https://discord.com/channels/822215537589354566/1344497228261101600",
  "14": "https://discord.com/channels/822215537589354566/1344497359094284328",
  "15": "https://discord.com/channels/822215537589354566/1344497499725103147",
};

const forumLink = forumLinks[entry.number.slice(0, 2)];
const discordLink = discordLinks[entry.number.slice(0, 2)];
const forumFallback =
  "https://forum.johnnydecimal.com/c/small-business/00-water-cooler/22";
const discordFallback =
  "https://discord.com/channels/822215537589354566/1292946370759495821";
---

<Slice id="ForumDiscord" className="main-text">
  <div class="layout-grid-left-right">
    <h3 class="layout-left-item">Community</h3>
    <div class="layout-right-item">
      <a href={discordLink ? discordLink : discordFallback} target="_blank"
        >Discord</a
      > •
      <a href={forumLink ? forumLink : forumFallback} target="_blank">Forum</a> •
      <a
        href={`https://airtable.com/appep0KBedENs1fkW/pagnQjbOW4JoXNNax/form?prefill_JD+SBS+ID=${slug}`}
      >
        Feedback
      </a>
    </div>
  </div>
</Slice>

<style lang="scss">
  @use "@styles/common" as *;
</style>
