---
interface Props {
  label?: string;
  text: string;
}

const { label, text } = Astro.props;
---

<section class="label-text">
  <h2>{label}</h2>
  <div set:html={text} />
</section>

<style lang="scss">
  .label-text {
    display: grid;

    h2 {
      font-size: 1rem;
    }
  }
</style>
