<input type="text" id="search" placeholder="Search..." />
<ul id="results"></ul>
<style>
  #results {
    font-family: "Berkeley Mono", ui-monospace, "Cascadia Code",
      "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono", monospace;
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    z-index: 1000;
  }
  #results li {
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
  #results li:last-child {
    border-bottom: none;
  }
</style>
<script>
  import Fuse from "fuse.js";
  async function initializeSearch() {
    const res = await fetch("/searchIndex.json");
    const data = await res.json();

    // Initialize Fuse.js
    const fuse = new Fuse(data, {
      keys: [
        "number",
        "title",
        "description",
        "smallBusiness.examples",
        "smallBusiness.moreInfo",
        "smallBusiness.exceptions",
        "smallBusiness.alsoSee",
        "smallBusiness.rationale",
        "smallBusiness.links",
      ], // Fields to search
      ignoreLocation: true, // Don't include index location data
      includeScore: true, // Include search relevance scores
      threshold: 0.4, // Adjust for more/less fuzzy matching
    });

    const searchInput = document.getElementById("search");
    if (searchInput) {
      searchInput.addEventListener("input", (e) => {
        if (e.target) {
          const query = (e.target as HTMLInputElement).value;
          const results = query
            ? fuse.search(query).map((result) => result.item)
            : [];
          displayResults(results);
        }
      });
    }
  }

  // @ts-ignore TODO
  function displayResults(results) {
    const resultsList = document.getElementById("results");
    if (resultsList) {
      resultsList.innerHTML = results
        .map(
          // @ts-ignore TODO
          (item) => `
            <li>
              <strong>${item.number} ${item.title}</strong>
              <p>${item.description}</p>
            </li>`
        )
        .join("");
    }
  }

  // Initialize search on page load
  initializeSearch().catch((err) =>
    console.error("Error initializing search:", err)
  );
</script>
