<input type="text" id="search" placeholder="Search..." />
<ul id="results"></ul>
<script>
  async function fetchAndSearch(query: string) {
    const res = await fetch("/search.json");
    const data = await res.json();
    const results = query
      ? data.filter(
          (item: {
            number: string;
            title: string;
            description: string;
            type: string;
            emoji?: string;
          }) =>
            Object.values(item).some((value) =>
              String(value).toLowerCase().includes(query.toLowerCase())
            )
        )
      : [];
    displayResults(results);
  }

  function displayResults(
    results: {
      number: string;
      title: string;
      description: string;
      type: string;
      emoji?: string;
    }[]
  ) {
    const resultsList = document.getElementById("results");
    if (resultsList) {
      resultsList.innerHTML = results
        .map(
          (item) => `
            <li>
              <strong>${item.title}</strong>
              <p>${item.description}</p>
              <small>Type: ${item.type}</small>
            </li>`
        )
        .join("");
    }
  }

  const searchInput = document.getElementById("search");
  if (searchInput) {
    searchInput.addEventListener("input", (e) => {
      if (e.target) {
        fetchAndSearch((e.target as HTMLInputElement).value);
      }
    });
  }
</script>
