---
interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<div class="Slice" class:list={className}>
  {/* layout-container is what does all of the work */}
  <div class="slice-inner">
    <slot />
  </div>
</div>

<style lang="scss">
  @use "@styles/common" as *;
</style>
