---
interface Props {
  className?: string;
  id?: string;
}

const { className, id } = Astro.props;
---

<div id={id} class="Slice" class:list={className}>
  {/* layout-container is what does all of the work */}
  <div class="inner-container">
    <slot />
  </div>
</div>

<style lang="scss">
  // @use "@styles/common" as *;
  // common.scss contains styles that affect this component
  // - constrains to site-width
  // - forces l/r padding

  .inner-container {
    // border: 1px dotted lightgoldenrodyellow;
  }
</style>
