---
interface Props {
  backgroundColor?: string;
}

const { backgroundColor = "#ffffff" } = Astro.props;
---

<div class="background-wrapper" style={`background-color: ${backgroundColor};`}>
  {/* layout-container is what does all of the work */}
  <div class="layout-container">
    <slot />
  </div>
</div>

<style lang="scss">
  @use "/src/styles/common";

  .background-wrapper {
    // border: 1px dotted beige;
  }
</style>
