---
import Slice from "@components/common/Slice.astro";
---

<Slice id="SystemBreadcrumb" className="secondary-content-bg">
  <div class="layout-grid-left-right">
    <div class="layout-left-item"></div>
    <h3 class="layout-right-item">
      <a href="/">Small business system</a>
    </h3>
  </div>
</Slice>

<style lang="scss">
  @use "@styles/common" as *;
  // We define the #[Various]Breadcrumbs in common, because they share a lot.

  // Bring the text off the search border a touch
  .layout-left-item,
  .layout-right-item {
    padding-top: 8px;
  }
</style>
