---
import Slice from "@components/common/Slice.astro";

const { userId } = Astro.locals.auth();
---

<Slice id="SystemBreadcrumb" className="secondary-content-bg">
  <div class="layout-grid-left-right">
    <div class="layout-left-item"></div>
    <h3 class="layout-right-item">
      {
        userId ? (
          <a href="/">Small business system</a>
        ) : (
          <a href="/00.91">Small business system</a>
        )
      }
    </h3>
  </div>
</Slice>

<style lang="scss">
  @use "@styles/common" as *;
</style>
