<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Your Page Title</title>
  <link rel="stylesheet" href="path/to/your/styles.css" />
</head>
<body>
  <main>
    <slot />
  </main>
</body>

<style is:global>
  main {
    font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo,
      Consolas, "DejaVu Sans Mono", monospace;
    margin: 0 auto;
    max-width: 600px;
  }
</style>
