---
interface Props {
  testRun?: boolean;
  title?: string;
}

import { SignedIn, SignedOut } from "@clerk/astro/components";

import Search from "@components/common/Search.astro";
import SignInPage from "@components/SignInPage.astro";
import AccountManagement from "@components/AccountManagement.astro";
import Footer from "@components/common/Footer.astro";

const { testRun, title } = Astro.props;
---

<!-- ðŸ“ðŸ“ðŸ“ This system is dedicated to Wendy, Marie, and Belinda. We loved them very much. -->
<html lang="en">
  <head>
    <title>JD SBS {title}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <!-- <link rel="stylesheet" href="@styles/reset.css" /> -->
    <link
      rel="preload"
      href="/fonts/BerkeleyMono/BerkeleyMono-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/BerkeleyMono/BerkeleyMono-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/BerkeleyMono/BerkeleyMono-Italic.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/BerkeleyMono/BerkeleyMono-BoldItalic.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <!-- <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"
    ></script>
    <script>
      // @ts-expect-error
      mermaid.initialize({ startOnLoad: true });
    </script> -->
  </head>
  <body>
    <!-- In this new world, we're not using Clerk's components at this level.
         We handle all auth stuff down at the component level. -->
    <SignedIn>You are signed in</SignedIn>
    <SignedOut>You are not signed in</SignedOut>
    <Search />
    <main>
      <slot />
    </main>
    <AccountManagement />
    <Footer />
  </body>
</html>

<style lang="scss">
  @use "@styles/common" as *;
</style>
